body {
    margin-left: 10px;
}
.container-fluid {
    text-align: left;
}
.center {
    text-align: center;
}
.row {
    text-align: center;
}
#info {
    text-align: left;
}
#cv {
    text-align: right;
}